<%= link_to "Evorav3", root_path, class: 'brand' %>
<ul class="inline">
  <% if user_signed_in? %>
    <li>
    <%#= link_to 'Logout', destroy_user_session_path, class: 'btn', method: 'delete' %>
    <a href="/users/sign_out" class="btn" data-method="delete" rel="nofollow">
      <i class="icon-off"></i>Logout</a>
    <%#= link_to 'Edit account', edit_user_registration_path, class: 'btn' %>
    <a href="/users/edit" class="btn"><i class="icon-wrench"></i>Edit account</a>
    <a href="/arquivos" class="btn"><i class="icon-file"></i>Arquivos</a>
    <a href="/lpus" class="btn"><i class="icon-book"></i>Lpus</a>
    </li>
  <% else %>
    <li>
    <%#= link_to 'Login', new_user_session_path, class: 'btn' %>
    <a href="/users/sign_in" class="btn"><i class="icon-user"></i>Login</a>
    <%#= link_to 'Sign up', new_user_registration_path, class: 'btn' %>
    <a href="/users/sign_up" class="btn"><i class="icon-pencil"></i>Sign up</a>
    </li>
  <% end %>
</ul>
